.date {
  background: -webkit-linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), -webkit-linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, -webkit-radial-gradient(at 50% 0, #484847, #090909);
  background: linear-gradient(45deg, #2b2a2a 25%, #10101000 25%, transparent 75%, #212020 75%), linear-gradient(45deg, #252424 25%, transparent 25%, transparent 75%, #272626 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #4a4a48, #131212);
  background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
}

.date {
  height: 640px;
  width: 360px;
  top: 0;
  display: flex;
  text-align: center;
}

.time {
  font-size: large;
  /* margin: auto ; */
  color:white;
  font-family: 'Roboto', sans-serif;
  margin-right: 180px;
}

.clock {  
  font-family: sans-serif;  
  color: #ffffff;  
  text-align: center;    
  left: 75%;  
  top: 50%;  
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);  
  color: #daf6ff;  
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);  
  }  
   
  .clock .time {  
  letter-spacing: 0.05em;  
  font-size: 80px;  
  padding: 5px 0;  
  }