* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 20px;
}

.empty {
  margin: 20px auto;
  text-align: center;
}

.input {
  display: flex;
  margin: 10px 10px;
}

textarea {
  line-height: 1.5;
  border-radius: 5px 0px 0px 5px;
  border: none;
  box-shadow: 0px 2px 5px #999;
  width: 100%;
  padding: 4px 8px;
  font-family: 'Roboto', sans-serif;
}

textarea::placeholder {
  font-style: italic;
}

.btn {
  border: none;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px 3px 6px #999;
  color: #fff;
  background-color: #464646d7;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  width: 5rem;
  font-weight: bold;
}

.output {
  margin: 15px;
}

.output div {
  margin-bottom: 10px;
  letter-spacing: 1px;
  word-wrap: break-word;
  border: 1px solid #ccc;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

.view {
  height: 100vh;
  overflow-y: auto;
}
